*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none
}
li{
    text-decoration: none;
    list-style: none;
}
body{
  font-family: 'Russo One', sans-serif;
    
}
.logo{
    background: #f18721;
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.header-title{
    padding: 5px;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
}

