*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none
}
li{
    text-decoration: none;
    list-style: none;
}
body{
  font-family: 'Russo One', sans-serif;
    
}
.logo{
    background: #f18721;
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.header-title{
    padding: 5px;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: #564848
}

/*Content*/
.content{
    margin-bottom: 160px;
    padding-bottom: 15px;
  
}

.content-title{
    margin: 0 0 5px;
    font-size: 18px;
    color: #0d448e;
}

.content-title2{
    font-size: 12px;
    color: #898787;
}
p img{
    padding: 10px;
}
.reklam{
    text-align: center
}
.footer{
    padding: 10px;
    text-align: center;
    background: #f18721;
}
